<div id="<%= dom_id customer %>">
  <p>
    <strong>First name:</strong>
    <%= customer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= customer.last_name %>
  </p>

  <p>
    <strong>Credit card number:</strong>
    <%= customer.credit_card_number %>
  </p>

  <p>
    <strong>Expiration date:</strong>
    <%= customer.expiration_date %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= customer.email %>
  </p>

</div>
