<p style="color: green"><%= notice %></p>

<h1>Customers</h1>

<%= render "customers/search_form" %>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= sort_link(@q, :first_name, "First Name", default_order: :asc) %></th>
      <th scope="col"><%= sort_link(@q, :last_name, "Last Name", default_order: :asc) %></th>
      <th scope="col"><%= sort_link(@q, :email, "Email", default_order: :asc) %></th>
      <th scope="col">Number of Orders</th>
    </tr>
  </thead>
  <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.first_name %></td>
          <td><%= customer.last_name %></td>
          <td><%= customer.email %></td>
          <td><%= customer.orders.count %></td>
        </tr>
      <% end %>
  </tbody>
</table>
