<%= form_with(model: order, url: show_time_orders_path, local: true) do |f| %>
  <p>
    <%= f.label :number_of_ticket, style: "display: block" %>
    <%= f.number_field :number_of_ticket, min: 1 %>
  <p>
    <%= f.fields_for :customer do |customer_form| %>
      <p>
        <%= customer_form.label :first_name, style: "display: block" %>
        <%= customer_form.text_field :first_name, required: true %>
      <p>
        <%= customer_form.label :last_name, style: "display: block" %>
        <%= customer_form.text_field :last_name, required: true %>
      </p>
      <p>
        <%= customer_form.label :email, style: "display: block" %>
        <%= customer_form.text_field :email, required: true %>
      </p>
        <p>
        <%= customer_form.label :credit_card_number, style: "display: block" %>
        <%= customer_form.text_field :credit_card_number, required: true %>
      </p>
      <p>
        <%= customer_form.label :expiration_date, style: "display: block" %>
        <%= customer_form.text_field :expiration_date, required: true %>
      </p>
    <% end %>

  <div>
    <%= f.submit %>
  </div>
<% end %>


