<p style="color: green"><%= notice %></p>

<h1>Dashboard</h1>

<h5>Popular ShowTimes</h5>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Movie Name</th>
      <th scope="col">ShowTime</th>
      <th scope="col">Total Seats</th>
      <th scope="col">Seats Sold</th>
      <th scope="col">Ticket Price</th>
    </tr>
  </thead>
  <tbody>
      <% @popular_show_times.each do |show| %>
        <tr>
          <th><%= show.movie_name %></th>
          <td><%= date_and_time(show.show_date_and_time) %></td>
          <td><%= show.total_seats %></td>
          <td><%= show.sold_seats %></td>
          <td><%= show.ticket_price %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<h5>Popular Movies</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Movie Name</th>
    </tr>
  </thead>
  <tbody>
    <% @popular_movies.uniq.each do |movie| %>
      <tr>
        <th><%= movie %></th>
      </tr>
    <% end %>
  </tbody>
</table>