<div id="<%= dom_id show_time %>">
  <p>
    <strong>Total seats:</strong>
    <%= show_time.total_seats %>
  </p>

  <p>
    <strong>Sold seats:</strong>
    <%= show_time.sold_seats %>
  </p>

  <p>
    <strong>Show date and time:</strong>
    <%= show_time.show_date_and_time %>
  </p>

  <p>
    <strong>Ticket price:</strong>
    <%= show_time.ticket_price %>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= show_time.movie_id %>
  </p>

</div>
